*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: initial;
  background-color: aqua;
  color: black;
  font-weight: bolder;
}
.container{
  width: 80%;
  margin: auto;
}
table thead{
  display: contents;
}
table thead td{
  background-color: white;
  border-radius: 10px;
  padding: 0.5% 5%;
  width: 80px;
  font-size: 15px;
}
.addItem{
 margin-bottom: 20px;
}
.addItem input{
  padding: 5px;
  border: solid white 0.1px;
  border-radius: 5px;
  margin: 2px;
}
button{
  padding: 5px;
  border: solid white 0.1px;
  border-radius: 2px;
}